/* src/index.css */

/* 바깥 배경 */
html, body, #root {
  margin: 0; padding: 0;
  height: 100%; width: 100%;
  background: #f7f9fc;
  display: flex; justify-content: center;
}

/* 카드 껍데기 */
.app-shell {
  min-width: 320px; max-width: 500px; width: 100%; height: 100%;
  display: flex; flex-direction: column;
  border-radius: 16px; overflow: hidden; background: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

/* 실제 화면 영역 (Routes 감싼 프레임) */
.app-frame {
  display: flex; flex-direction: column;
  flex: 1;            /* ⬅️ 100vh 쓰지 말고 카드 높이에 맞춰 늘림 */
  min-height: 0;      /* ⬅️ 내부 스크롤 막힘 방지 (중요) */
}

/* MainLayout의 본문 */
/* src/index.css */
.content{
  flex: 1;
  overflow-y: auto;
  min-height: 0;
  padding: 0;   /* 상 16 / 좌우 0 / 하단(네비 70 + 여유 16) */
  box-sizing: border-box;
}

/* 혜란 글씨체 추가*/

@font-face {
    font-family: 'omyu_pretty';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* 전체 기본 폰트 적용 */
body {
  margin: 0;
  padding: 0;
  font-family: 'omyu_pretty', sans-serif;
}

button {
  font-family: 'omyu_pretty', sans-serif;
}
