html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background: #f7f9fc; /* 전체 배경 */
}

img, svg, video, canvas {
  max-width: 100%;
  height: auto;
  display: block;
}
